<html>
<head>
<title>RandomBeyonce</title>
<link rel="stylesheet" type="text/css" href="../style.css">
<link href='http://fonts.googleapis.com/css?family=News+Cycle|Oleo+Script' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="navbar">
		<a href="/"> Home</a>
		<a href="/sets">Sets</a>
		<a href="/sets/new">Create a set</a>
	</div>
	<h1> YouTube Sets</h1>
	<%= yield %>
</body>


</html>