<form method="post" action= "/sets">
	Add a new setlist: 
	<br />
	Set Name: <input type="text" name="name" size="50"/>
	<br />
	Videos: <textarea name="vidnums" rows="10" cols="50" placeholder="Enter your set list"></textarea>
	<br />
	Description: <input type="text" name="description" size="120"/>
	<br />
	<input type="submit" value="Submit your songs!"/>
</form>